<!--Contact right Col-->
        <div class="contact-right-col">
            <div class="contact-info-wrap">

                <!--Phone Number-->
                <div class="contact-type-wrap  phone clearfix">
                    <div class="contact-type-left">
                        <span class="contact-ico"></span>
                        <h3>Phone</h3>
                    </div>
                    <div class="contact-type-right">
                    +44 (0)141 555 1234
                    </div>
                </div>

                <!--Fax Number-->
                <div class="contact-type-wrap fax clearfix">
                    <div class="contact-type-left">
                        <span class="contact-ico"></span>
                        <h3>Fax</h3>
                    </div>
                    <div class="contact-type-right">
                    +44 (0)141 555 5678
                    </div>
                </div>

                <!--Email Address-->
                <div class="contact-type-wrap email clearfix">
                    <div class="contact-type-left">
                        <span class="contact-ico"></span>
                        <h3>Email</h3>
                    </div>
                    <div class="contact-type-right">
                    <a href="mailto:info@yourcompany.com">info@yourcompany.com</a>
                    </div>
                </div>
            </div>

            <!--Address-->
            <div class="contact-type-wrap address clearfix">
                <div class="clearfix">
                    <div class="contact-type-left">
                        <span class="contact-ico"></span>
                        <h3>Location</h3>
                    </div>
                    <div class="contact-type-right">
                    <strong>Your Company</strong><br />18 Westminster Avenue<br />Glasgow, G1 1AB <br />
                    <a href="#" class="button-press view-map">Find us</a>
                    </div>
                </div>
            </div>

            <div class="hidden-map">
                <!--Map--><a title="Find us here" href="#"><img src="images/mapexample.png" alt="Map" title="" /></a>
            </div>

        </div><!-- /.contact-right-col -->